<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tabela Fipe</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script th:src="@{/script.js}" th:fragment = "js"></script>
</head>
<section layout:fragment="content" style="min-height: 90vh; background-color: lightgray; margin-top:5%">

    <div th:if="${alertMessage != null and alertMessage != ''}" class="panel-heading" th:replace="~{components/alert.html}"></div>
    <div id="taskGet-container" class="card container"
         style="margin-top:1%; margin-bottom:1%; width: 50%; height:60%; border: none; padding-bottom:2%">
        <form action="#" th:action="@{/vehicle/add-or-update-vehicle/{cpf}(cpf=${cpf})}" method="post" th:object="${vehicleDTO}">
            <div class="container">
                <div class="row">
                    <div class="col-md-26 mt-5">
                        <div class="card">
                            <article class="card-body">
                                <div class="form-group">
                                    <div class="row">

                                        <!--div class="col-md-12 mt-2">
                                            <label>Renavam</label>
                                            <input type="text" class="form-control" name="renavam" placeholder="Renavam"
                                                   th:field="*{renavam}"
                                                   th:classappend="${#fields.hasErrors('renavam')} ? 'is-invalid' : ''">
                                            <input type="hidden" name="id" th:value="${id}" th:field="*{id}">
                                            <div th:if="${#fields.hasErrors('renavam')}" th:errors="*{renavam}"
                                                 class="invalid-feedback"></div>
                                        </div-->

                                        <div class="col-md-12 mt-2">
                                            <label>Placa</label>
                                            <input type ="text" class="form-control" name="licensePlate"
                                                      placeholder="Placa" th:field="*{licensePlate}"
                                                      th:classappend="${#fields.hasErrors('licensePlate')} ? 'is-invalid' : ''">
                                            <input type="hidden" name="id" th:value="${id}" th:field="*{id}">
                                            <div th:if="${#fields.hasErrors('licensePlate')}" th:errors="*{licensePlate}"
                                                 class="invalid-feedback"></div>
                                        </div>

                                        <div class="col-md-12 mt-2">
                                            <label>Cor</label>
                                            <input type ="text" class="form-control" name="color"
                                                   placeholder="Cor" th:field="*{color}"
                                                   th:classappend="${#fields.hasErrors('color')} ? 'is-invalid' : ''">
                                            <div th:if="${#fields.hasErrors('color')}" th:errors="*{color}"
                                                 class="invalid-feedback"></div>
                                        </div>


                                        <div class="col-md-4 mb-3 mt-2">
                                            <label>Marca</label>
                                            <select class="form-control" id="brand"  th:field="*{modelDTO.brandDTO.code}">

                                                <!--option th:each="brand : ${brands}"
                                                        th:value="${brand.code}"
                                                        th:text="${brand.name}"><option-->
                                            </select>
                                        </div>

                                        <div class="col-md-4 mb-3 mt-2">
                                            <label>Modelo</label>
                                            <!--select class="form-control" name="priority" th:field="*{priority}"-->
                                            <select class="form-control" id="model"  th:field="*{modelDTO.code}">

                                                <!--option th:each="model : ${models}"
                                                        th:value="${code}"
                                                        th:text="${model}"><option-->
                                            </select>
                                        </div>

                                        <div class="col-md-4 mb-3 mt-2">
                                            <label>Ano</label>
                                            <!--select class="form-control" name="priority" th:field="*{priority}"-->
                                            <select class="form-control" id="year"  th:field="*{yearDTO.code}">

                                                <!--option th:each="year : ${years}"
                                                        th:value="${code}"
                                                        th:text="${year}"><option-->
                                            </select>
                                        </div>

                                        <div class="col-md-4 mb-3 mt-2">
                                            <label>Combustível</label>
                                            <!--select class="form-control" name="priority" th:field="*{priority}"-->
                                            <select class="form-control" id="fuel"  th:field="*{characteristicDTO.fuel}">

                                                <!--option th:each="fuel : ${fuels}"
                                                        th:value="${fuel}"
                                                        th:text="${fuel}"><option-->
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3 mt-2">
                                            <label>Status</label>
                                            <!--select class="form-control" name="priority" th:field="*{priority}"-->
                                            <select class="form-control" name="status"  th:field="*{status}">

                                                <option th:each="status : ${statusList}"
                                                        th:value="${status}"
                                                        th:text="${status}"></option>
                                            </select>
                                        </div>

                                        <div class="col-md-4 mb-3 mt-2">
                                            <label>Cadastrado em</label>
                                            <input type="date" class="form-control" name="data"
                                                   th:field="*{subscriptionDate}" placeholder="Data de Cadastro"
                                                   id="expireDatePicker"
                                                   th:classappend="${#fields.hasErrors('subscriptionDate')} ? 'is-invalid' : ''">
                                            <script>
                                                var today = new Date().toISOString().split('T')[0];
                                                //document.getElementById('expireDatePicker').min = today;

                                            </script>
                                            <div th:if="${#fields.hasErrors('subscriptionDate')}" th:errors="*{subscriptionDate}"
                                                 class="invalid-feedback"></div>
                                        </div>

                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="row mt-3" style="padding-top: 2%">
                        <div class="col mt-3">
                            <a class="btn btn-primary" href="/vehicle" style="width: 48%;">Cancel</a>
                        </div>
                        <div class="col mt-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" style="width: 48%;">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>
</html>
